container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_collectstatic:
        command: "python manage.py collectstatic --noinput"
    03_createsu:
        command: "python manage.py createsu"
        leader_only: true
    04_setup_apache:
        command: "cp /Users/joshuaclark/Desktop/repos/Whiskey_Inventory/whiskey_site/.ebextensions/enable_mob_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
        
option_settings:
    "aws:elasticbeanstalk:container:python":
        WSGIPath: whiskey_site/wsgi.py
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "whiskey_site/static/"