#title_text{
    font-family: 'Nanum Myeongjo', serif;
    color: #FAFAFA;
}


@media (max-width: 450px) {
    #title_text { font-size: 2rem; }
}
@media (min-width: 450px) {
    #title_text { font-size: 2.5rem; }
}
@media (min-width: 576px) {
    #title_text { font-size: 3rem; }
}
@media (min-width: 768px) {
    #title_text { font-size: 3.25rem; }
}
@media (min-width: 992px) {
    #title_text { font-size: 3.5rem; }
}
@media (min-width: 1200px) {
    #title_text { font-size: 3.9rem; }
}

html, body{
    height: 100%;
    background-color: #405952;
    /* background-image: url("/static/whiskey_list/img/bg1.jpg");  
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
}   

a {
    color: #FAFAFA;
    }

a:hover {
    color: #FAFAFA;
}

.ui-state-default{
    background-color: #dee2e6 !important;
}

.table{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 0.75em;
}

.login-items{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 0.75em;
    color: #FAFAFA !important;
}

div.dataTables_wrapper  div.dataTables_filter {
    width: 100%;
    float: none;
    font-family: 'Averia Serif Libre', cursive;
    text-align: center;
}

div.dataTables_filter input {
    margin-left: 0em !important;
    margin-top: 0.7em;
}

.dataTables_filter, .dataTables_filter>label {
    width: 75%;
    margin-bottom: 0.7em;
}

.dataTables_info{
    color: #FAFAFA !important;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 0.75em;
    padding-bottom: 0.2em;
    padding-top: 0em;
}

.ui-widget-header{
    border: none;
    background-color: transparent !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

input[type="search"]:focus{
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    outline: 0 none;
}

#login_form{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 0.75em;
    color: #FAFAFA;
}

#subtitle_text{
    font-size: 1.5em;
    font-family: 'Nanum Myeongjo', serif;
    color: #FAFAFA;
}

#total_row{
    font-size: 1em;
    font-family: 'Nanum Myeongjo', serif;
    color: #FAFAFA;
}